body {
    font-family:'Lucida Grande';
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #41b3a3;
    background: linear-gradient(to bottom, #41b3a3,#235c54);
    background-size: cover;
    background-attachment: fixed;
}

#app img {
    max-width: 18%; /* Set maximum width to 100% of the container */
    height: auto;    /* Maintain aspect ratio */
    display: block;  /* Remove extra space below the image */
    margin: 0 auto;
    margin-bottom: 0;   /* Center the image horizontally */
}

#app h1{
    margin-top: 0;
}

#app {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 5px solid #f6a6b2;
    border-radius: 8px;
}

h1{
    color:#ffecb8;
    margin-top: 20px;

}
#orderSummary {
    margin-top: 20px;
    font-family: Lucida Grande;
    font-size: 16px; /* Change this to the desired font size */
    color:#ffecb8; /* Change this to the desired font color for the order summary text */
}


h1 {
    font-size: 80px;
    text-transform: uppercase;
    font-weight:bold;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color:#7dcdb5;
    outline: none;
    text-align: center;
  }
  
  h1:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 20px;
  }


#menu {
    margin-bottom: 30px;
    color :#72abb1;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#menu div {
    padding: 10px;
    border-bottom: 3px solid #f7c297;
    box-sizing: border-box;
    width: calc(50% - 5px); /* 50% width with a small margin between items */
    padding: 10px;
    border-bottom: 3px solid #f7c297;
    text-align: center;
    color:#f6a6b2
}

#menu div:nth-child(odd) {
    margin-right: 10px; /* Adjust the margin between items as needed */
} 
#orderForm {
    margin-top: 30px;
}

form {
    text-align: left;
    margin: 0 auto;
    max-width: 300px;
}

form > * {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

button {
    background-color:#f6a6b2;
    color: #ffecb8;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color:#ffecb8;
    color:	#f6a6b2;
}