body {
    font-family:'Lucida Grande';
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#ffecb8;
}

#app {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 5px solid #f6a6b2;
    border-radius: 8px;
}

#app h1 {
    color:#7dcdb5
}

#menu {
    margin-bottom: 30px;
    color :#72abb1;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#menu div {
    padding: 10px;
    border-bottom: 3px solid #f7c297;
    box-sizing: border-box;
    width: calc(50% - 5px); /* 50% width with a small margin between items */
    padding: 10px;
    border-bottom: 3px solid #f7c297;
    text-align: center;
}

#menu div:nth-child(odd) {
    margin-right: 10px; /* Adjust the margin between items as needed */
} 
#orderForm {
    margin-top: 30px;
}

form {
    text-align: left;
    margin: 0 auto;
    max-width: 300px;
}

form > * {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

button {
    background-color:#f6a6b2;
    color: #ffecb8;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color:#ffecb8;
    color:	#f6a6b2;
}