@import url(http://127.0.0.1:3000/yt.html);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:pink;
}

.wrapper
{
    width: 400px;
    background: lightseagreen;
    color: yellowgreen;
}

.wrapper h1
{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box
{
    width: 100%;
    height: 50px;   
}

.input-box input
{
    width: 100%;
    height: 100%;
    
}